.card-container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    height: 300px;
    width: 280px;
    background-color: rgba(31, 112, 127, 0.3);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    margin: 10px;
}
.card h2 {
    font-size: 22px;
    margin: 20px auto;
    text-align: center;
}
.card-img {
    margin-top: 15px;
    width: 80px;
}

.card-description {
    display: inline-block;
}
.card-description p {
    font-size: 20px;
    margin: 12px 8px;
}
.ribbon {
    position: absolute;
    bottom: 20px;
    width: 80px;
    height: 40px;
    background-color: rgba(82, 169, 219, 0.452);
}

.ribbon::before,
.ribbon::after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
}
.ribbon:after {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid rgba(82, 169, 219, 0.452);
    right: -15px;
}

.ribbon:before {
    border-bottom: 8px solid #165470;
    border-left: 8px solid transparent;
    top: -8px;
}
.card-active {
    background-color: rgba(231, 194, 91, 0.589);
}
